#dashboard {
  width: 90%;
  height: 70%;
  margin: auto;
  padding-top: 10%;
  display: flex;
  justify-content: space-around;
}

#maze {
  background-color: white;
  width: 55%;
  height: 100%;
  text-align: center;
  box-shadow: 0 0 0.25rem grey;
}
#canvas {
  width: 80%;
  padding: 2rem;
}
#top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #316745;
  box-shadow: 0 0.2rem 0.3rem #244d33;
  text-align: center;
  color: white;
  font-family: 'ポプらむ☆キュート', 'ピグモ', 'マメロン', '白川 篆文', '春秋tsu-教育漢字', 'MingLiU_HKSCS-ExtB', 'Microsoft JhengHei UI', 'KaiTi', 'FangSong', 'DengXian', 'DFKai-SB';
}
#settings,
#settings input,
#settings button {
  font-family: 'マメロン', 'MingLiU_HKSCS-ExtB', 'Microsoft JhengHei UI', 'KaiTi', 'FangSong', 'DengXian', 'DFKai-SB';
}
.App {
  background-image: url('bg-maze.svg');
  height: 100%;
}
