h1:lang(en) {
  font-family: -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    proximanova-semibold,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

h1:lang(jp) {
  font-family: 'ポプらむ☆キュート',
    'ピグモ',
    'マメロン',
    '白川 篆文',
    '春秋tsu-教育漢字',
    'MingLiU_HKSCS-ExtB',
    'Microsoft JhengHei UI',
    'KaiTi',
    'FangSong',
    'DengXian',
    'DFKai-SB';
}

.App {
  background-image: url('bg-maze.svg');
  min-height: 100vh;
}