#maze {
  background-color: white;
  min-width: 55%;
  min-height: 80vh;
  padding: 0.5rem;
  box-shadow: 0 0 0.25rem grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
#maze #grid-container {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#maze #grid-container #grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#maze #grid-container #grid .cell {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
}
#maze #grid-container #grid .cell:hover {
  background-color: #316745;
  background-image: url('bg-maze-white.svg');
  box-shadow: 0 0 0.25rem #316745;
}
#maze #grid-container #grid .cell.current {
  background-color: #316745;
}
#maze #grid-container #grid .cell.stuck {
  background-color: red;
}
#maze #grid-container #grid .cell.wall-top {
  border-top: 2px solid black;
}
#maze #grid-container #grid .cell.wall-bottom {
  border-bottom: 2px solid black;
}
#maze #grid-container #grid .cell.wall-left {
  border-left: 2px solid black;
}
#maze #grid-container #grid .cell.wall-right {
  border-right: 2px solid black;
}
