#settings {
  background-color: white;
  width: 40%;
  min-height: 60vh;

  border-radius: 1%;
  box-shadow: 0 0 0.25rem grey;

  & h1 {
    text-align: center;
  }

  & #settings-content {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  & form {
    display: flex;
    flex-direction: column;

    width: 80%;
    
    & * {
      font-size: 1rem;
      padding: 0.5rem;
    }

    // NOTE order is important here
    & label {
      font-size: 1.5rem;
    }

    &#dimensions #dimension-inputs {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      & label {
        text-align: center;
      }

      & label, input {
        width: 43%;
      }
    }

    & button {
      background-color: rgb(240, 166, 28);
      color: white;
      
      border: none;
      border-radius: 2%;

      &:hover {
        background-color: rgba(240, 166, 28, 0.411);
        color: rgb(255, 113, 113);
      }
    }
  }
}