#settings {
  background-color: #4c9b69;
  color: white;
  width: 40vw;
  height: 60vh;
  flex-shrink: 0;
  border-radius: 1%;
  box-shadow: 0 0 0.25rem grey;
}
#settings input[type=number]::-webkit-outer-spin-button,
#settings input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
#settings input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
#settings h1 {
  text-align: center;
}
#settings #settings-content {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#settings form {
  display: flex;
  flex-direction: column;
  width: 80%;
}
#settings form * {
  font-size: 1rem;
  padding: 0.5rem;
}
#settings form label {
  font-size: 1.5rem;
}
#settings form#dimensions #dimension-inputs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#settings form#dimensions #dimension-inputs label {
  text-align: center;
}
#settings form#dimensions #dimension-inputs label,
#settings form#dimensions #dimension-inputs input {
  width: 43%;
}
